/* header {
    background-color: rgb(221, 228, 11);

    position: absolute;
    padding: 10px;
    /* display: inline; 
    position: relative;
    height: 40px;
    width: 100vh;
    overflow: auto;
    max-width: 500px;
    min-width: 200px;
    background-size: contain, 100%, 100%;
    text-align: justify;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    padding: 0;
} */

*{
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(11, 9, 9);
color: aliceblue;
}

header {
    background-color: rgb(221, 228, 11);
    
    /* Width aur Height ka jaadu */
    width: 100%;       /* Full width */
    height: 30vh;      /* Screen ki 30% height */
    
    
    
    /* Baaki tumhari styling */
    font-weight: 800;
    font-family: Arial, sans-serif;
}

#fth{

/* Text ko beech mein laane ke liye (Optional but looks good) */
    display: flex;
    justify-content: center;
    align-items: center;

}



/* Body ki default margin hatane ke liye taaki header chipak jaye edges se 
body {
    margin: 0;
    padding: 0;
}
*/
.whypreset{
color: rgb(190, 219, 201);
height: auto;
padding: 50px;
margin: 20px 0;
width: 80%;
font-weight: 500;
font-family: Roboto, sans-serif;
}

.redirect_preset{
text-align: center;
color: rgb(228, 15, 15);
align-self: center;
align-items: center;
}

#h3preset{
    font-weight: 900;
color: rgb(255, 251, 251);
text-align: center;
/* text-decoration: ; */
}

main {
    display: flex;
    flex-direction: column; /* Taaki items upar-neeche rahein */
    align-items: center;    /* Horizontal centering */
    justify-content: center; /* Vertical centering (agar height ho toh) */
    width: 100%;
}

.redirect_preset {
    text-align: center;
    color: rgb(228, 15, 15);
    cursor: pointer; /* Clickable dikhne ke liye */
}

button{
    cursor: pointer;
    padding: 15px 20px;
    height: auto;
    border-radius: 5px;
}

#brvid{
    width: 98%;
    background-color: yellow;
    border: none;
    height: 2px;
}


footer {
    background-color: rgb(221, 228, 11);
    
    /* Width aur Height ka jaadu */
    width: 100%;       /* Full width */
    height: 10vh;      /* Screen ki 30% height */

    text-align: center;
}

.txt{

padding-bottom: 1vh;

}

.mgun{
    background-color: rgb(158, 161, 73);
    border: 10px solid rgb(209, 215, 8);
    padding: 40px;
    margin: 50px 0;
    width: 100%;
    height: auto;
    border-radius: 10px;
    color: rgb(11, 9, 9);
}

